body{
    background-color:#1b1b1b;
    margin: 0;
    height: 100vh;
    font-family: "Trirong";
    overflow: hidden;
 

}
@font-face {
  font-family: "Trirong";
  src:url("/Trirong/Trirong-Regular.ttf")
     
}
@font-face {
  font-family: "zuzu";
  src:url("/ZUzu/zuzu.ttf")
     
}
.navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
.navbar {
  position: sticky;
  top: -1;
  width: 100%;
  padding: 1rem;
  text-indent: 2rem;
  z-index: 1;
  
}
p{
    color: white;
    font-size: 1vw;
}
h1{
    font-family: "zuzu";
    color: white;
    font-size: 6vw;
  
}
h3{
  font-size: 1.5vw;
}
warpper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}
content{
    width: 100%;
    height: 56vw;
    position: relative;
}
.head{
    position: absolute;
    top: 20%;
    left: 10%;
    
}
.bg{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}
.subhead{
    position: absolute;
    top: 40%;
    left: 10%;
    line-height: 2vw;
}
.red{
    color: #DB4424;
    position: absolute;
    top: 50%;
    left: 10%;
    line-height: 3vw;
}
.btn1{
    width: 30vw;
    position: absolute;
    top: 10%;
    right: 5%;
    cursor: pointer;

}
