body{
    background-color:#1b1b1b;
    margin: 0;
    height: 100vh;
    font-family: "Trirong";
}
@font-face {
  font-family: "Trirong";
  src:url("/Trirong/Trirong-Regular.ttf")
     
}
@font-face {
  font-family: "zuzu";
  src:url("/ZUzu/zuzu.ttf")
     
}
.navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
.navbar {
  position: sticky;
  top: -1;
  width: 100%;
  padding: 1rem;
  text-indent: 2rem;
  z-index: 1;
  
}
p{
    color: white;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    
}
h1{
    font-family: "zuzu";
    color: white;
    font-size: 6vw;
  
}
h3{
  font-size: 1.5vw;
}
warpper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}
content{
    width: 100%;
    height: 56vw;
    position: relative;
}
.bgpage{
  width: 100%;
  position: absolute;
}
.head1{
  position: absolute;
  top: 23%;
  left: 14%;
  font-size: 5vw;
}
.head2{
  position: absolute;
  top: 54.5%;
  left: 7%;
  font-size: 5vw;
}
.head3{
  position: absolute;
  top: 106.5%;
  left: 7%;
  font-size: 5vw;
}
.head4{
  position: absolute;
  top: 24%;
  right: 13%;
  font-size: 5vw;
}
.head5{
  position: absolute;
  top: 127.5%;
  right: 18%;
  font-size: 5vw;
}
.subhead1{
  position: absolute;
  top:38%;
  left: 15%;
  font-size: 1vw;
}
.subhead2{
  position: absolute;
  top:71%;
  left: 7%;
  font-size: 1vw;
}
.subhead3{
  position: absolute;
  top:71%;
  left: 38%;
  font-size: 1vw;
}
.subhead4{
  position: absolute;
  top:121%;
  left: 10%;
  font-size: 1vw;
}
.subhead5{
  position: absolute;
  top:36%;
  right: 14%;
  font-size: 1vw;
}
.subhead6{
  position: absolute;
  top:141%;
  right: 10%;
  font-size: 1vw;
}
.subhead7{
  position: absolute;
  top:70.5%;
  right: 13%;
  font-size: 1vw;
}