body{
    background-color:#1b1b1b;
    margin: 0;
    height: 100vh;
    font-family: "Trirong";
 

}
@font-face {
  font-family: "Trirong";
  src:url("/Trirong/Trirong-Regular.ttf")
     
}
@font-face {
  font-family: "zuzu";
  src:url("/ZUzu/zuzu.ttf")
     
}
p{
    color: white;
    font-size: 1vw;
}
h1{
    font-family: "zuzu";
    color: white;
  
}
h3{
  font-size: 2vw;
}
html { 
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
  }
section {
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    max-width: 100%;
    max-height: 100%;
  }
img{
    max-width: 100vw;
    max-height: 56vw;
  }

.navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
.navbar {
  position: sticky;
  top: -1;
  width: 100vw;
  padding: 1rem;
  text-indent: 2rem;
  z-index: 1;
  scroll-snap-align: end;
  
}
.bg-dark{
  background-color: black !important;
}

.bg-transparent{
    background-color: transparent;
}
.home{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;

}
.popupimg{
  position: relative;
  top: 10vw;
  width: 40vw;
}
.bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.thome{
  font-size: 15vw;
  position: relative;
  top: 5%;
  left: 10%;
}
.thome2{
  font-size: 15vw;
  position: relative;
  top: -5%;
  left: 10%;
}
.thead2{
  font-size: 10vw;
  position: relative;
  top: 15vw;
  left: 40%;
}
.ptextslice2{
  position: relative;
  top: 13vw;
  left: 40%;
}
.tehead3{
  font-size: 10vw;
  position: relative;
  top: 15vw;
  left: 10%;
  color: white;

}
.ptextslice3{
  position: relative;
  top: 15vw;
  left: 10%;
}
.ptextslice4{
  position: absolute;
  top: 30vw;
  right: 15%;
}
.tehead4{
  font-size: 10vw;
  position: absolute;
  top: 10%;
  right:  16.5%;
  color: white;

}
.ptextslice4-2{
  position: absolute;
  top: 80%;
  left: 80%;

}
.downarrow{
    position: absolute;
    top: 80%;
    width:100px;
    right: 45%;
    animation-name: moveup;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes moveup {
    0% {top: 80%;}
    25% {top: 85%;}
    50% {top: 80%;}
  }

.ptext1{
    position: absolute;
    top: 32vw;
    left: 3%;
    
}
.ptext2{
    position: absolute;
    top: 37vw;
    left: 3%;
}
.ptext3{
  color: #7DADA4;
  position: absolute;
    top: 42vw;
    left: 3%;
}
.flowerhome{
    position: absolute;
    left: 35%;
    top: 20%;
    width: 30%;
}

.slide {
    width: 100vw;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
  }
  .one {
    background: black;
  }
  .two {
    background: black;
  }
  .three {
    background: #0bbaa0;
  }
  .four{
    background: black;
  }

  .wrapper {
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left;
    }
    .outer-wrapper {
      width: 100vh;
      height: 100vw;
      transform: rotate(-90deg) translateX(-100vh);
      transform-origin: top left;
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;
    }

    .outer-wrapper {
          scrollbar-width: none;
          -ms-overflow-style: none;
        }
        ::-webkit-scrollbar {
          display:none;
        }
#popup{
  width: 40%;
  position: relative;
  top: -50%;
  left: 25%;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}
.close:hover {
  opacity: 0.3;
}
.close:before, .close:after {
  background-color:white;
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.hide{
  display: none;
}
.prighttext{
  color: #7DADA4;
  position: absolute;
  top: 30vw;
  right: 2%;

}
.btnknow{
  width: 15vw;
  position: absolute;
  top: 25vw;
  right: 30%;
  transition: 0.5s;
  cursor: pointer;
}
.btnknow:hover{
  transform: scale(1.1, 1.1);
}
.btnchance{
  width: 15vw;
  position: absolute;
  top: 29vw;
  right: 30%;
  transition: 0.5s;
  cursor: pointer;
}
.btnchance:hover{
  transform: scale(1.1, 1.1);
}
.btnex{
  width: 15vw;
  position: absolute;
  top: 32vw;
  right: 30%;
  transition: 0.5s;
  cursor: pointer;
}
.btnex:hover{
  transform: scale(1.1, 1.1);
}
.btnlife{
  width: 15vw;
  position: absolute;
  top: 35vw;
  right: 30%;
  transition: 0.5s;
  cursor: pointer;
}
.btnlife:hover{
  transform: scale(1.1, 1.1);
}
.btnthnk{
  width: 15vw;
  position: absolute;
  top: 38vw;
  right: 30%;
  transition: 0.5s;
  cursor: pointer;
}
.btnthnk:hover{
  transform: scale(1.1, 1.1);
}
.btnforgive{
  width: 15vw;
  position: absolute;
  top: 42vw;
  right: 30%;
  transition: 0.5s;
  cursor: pointer;
}
.btnforgive:hover{
  transform: scale(1.1, 1.1);
}
/* หน้าครูผู้มีบทบาทย่อย */
.btnteacher1{
  cursor: pointer;
  position: absolute;
  left: 40%;
  top: 10%;
  width: 30vw;
  transition: 0.5s;
}
.btnteacher1:hover{
  transform: scale(1.1, 1.1);
}
.btnteacher2{
  cursor: pointer;
  position: absolute;
  left: 40%;
  top: 25%;
  width: 30vw;
  transition: 0.5s;
}
.btnteacher2:hover{
  transform: scale(1.1, 1.1);
}
.headteach{
  margin-top: 5vw;
  font-size: 8vw;
}
.subheadteach{
  color: #7dada4;
}
.backbtn1{
  position: relative;
  left: 40%;
  width: 80%;
  cursor: pointer;
}
.rigttextteach{
  position: relative;
  top: 15%;
}

/* หน้าครูผู้มีบทบาทย่อย 2*/
.headeverything{
  font-size: 8vw;
}
.hiteacher{
  color: #DB4424;
}
.coneverything{
  position: relative;
  top: 10%;
  left: 35%;
}
.footteach{
  width: 100vw;
  position: absolute;
  top: 0%;
}
.backbtn2{
  position: absolute;
  top: 10%;
  width: 30%;
  cursor: pointer;
}
